main form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

table .singleRow:nth-child(odd) {
  background-color: var(--bfh-lightgrey-4);
}

input {
  border: 1px solid var(--bfh-grey);
  padding: 7px;
}

form input.ng-touched.ng-invalid {
  outline: 1px solid var(--bfh-darkred);
}

textarea:focus {
  outline: 1px solid var(--bfh-grey);
}

@media (max-width: 900px) {
  th {
    font-size: 16px;
  }
}
