@if (campaignStatus == 'erstellt') {
<form [formGroup]="criteriaForm">
  <label>
    <div><ng-container i18n>Kriterienname</ng-container>:</div>
    <div class="formInputcontainer">
      <input type="text" formControlName="criteriaName" />
      <pgt-form-error
        [control]="criteriaForm.controls['criteriaName']"
      ></pgt-form-error>
    </div>
  </label>
  <label>
    <div><ng-container i18n>Gewichtung</ng-container>:</div>
    <div class="formInputcontainer">
      <input
        type="number"
        formControlName="criteriaWeight"
        step="0.1"
        min="0"
      />
      <pgt-form-error
        [control]="criteriaForm.controls['criteriaWeight']"
      ></pgt-form-error>
    </div>
  </label>
  <span>
    <button
      mat-raised-button
      color="primary"
      (click)="addCriteria(criteriaForm)"
      [disabled]="criteriaForm.invalid || campaignStatus != 'erstellt'"
      type="submit"
    >
      <ng-container i18n>Hinzufügen</ng-container> <mat-icon>add</mat-icon>
    </button></span
  >
</form>
}

<table>
  <tr>
    <th i18n>Name</th>
    <th i18n>Gewichtung</th>
    <th></th>
  </tr>
  @for (criteria of campaign.criteria; track criteria) {
  <tr>
    <td>{{ criteria.name }}</td>
    <td>{{ criteria.weight }}</td>
    <td>
      <button
        mat-raised-button
        color="primary"
        [disabled]="campaignStatus != 'erstellt'"
        (click)="removeCriteria(criteria)"
      >
        <ng-container i18n>Löschen</ng-container> <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  }
</table>
