@if (user) {
<nav>
  @if (user.roles.includes(UserRole.ADMIN)) {
  <button
    mat-raised-button
    color="accent"
    routerLink="/admin-dashboard"
    routerLinkActive="active"
  >
    <ng-container i18n>Kampagnen</ng-container> <mat-icon>home</mat-icon>
  </button>
  } @if (user.roles.includes(UserRole.ADMIN)) {
  <button
    mat-raised-button
    color="accent"
    routerLink="/profile"
    routerLinkActive="active"
  >
    <ng-container i18n>Profil</ng-container> <mat-icon>account_box</mat-icon>
  </button>
  } @if (user.roles.includes(UserRole.SUPER)) {
  <button
    mat-raised-button
    color="accent"
    routerLink="/user-list"
    routerLinkActive="active"
  >
    <ng-container i18n>Admins</ng-container> <mat-icon>group</mat-icon>
  </button>
  }
</nav>
}
